*{
    margin: 0;
    padding: 0;
}
/*header start*/

.app_header{
    background-color: rgba(212, 212, 212, 0.571);
    height: 40px;
}

.app_header>ul{
    display: inline-block;
    
}

.app_header>ul>li{
    display: inline-block;
    padding: 4px 140px;

    
}

.app_header > ul> li>a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.app_header > ul> li>a:hover{
    background-color: gray;
}

.app_header>ul>li:hover{
    background-color: gray;
}

/*header end*/

/*section ---- app_main_hero ---- start*/

.app_main_hero_texts{
    margin-top: 50px;
    margin-left: 15%;
}
.app_main_hero_texts h1{
  font-size: 36px;
  margin-bottom: 15px;
}

.app_main_hero_texts p{
    text-align: left;
}

.app_main_hero_images{
    width: 70%;
    
    text-align: center;
}

/*section ---- app_main_hero ---- end*/


/* section ---- app_main_cards_offer ---- start*/
#offer-cards-title{
    font-size: 30px;
    text-align: center;
    text-decoration: 7px underline #616161;
    margin-top: 40px;
    
}


.app_main_cards_offer_body{
    margin-top: 60px;
    margin-left: 14%;
}
.app_main_cards_offer_body_item_1{
    float: left;
    border: 1px solid white;
    width: 270px;
    background-color:#f1f1f1;
    padding-top: 30px;
    padding-left: 15px;
}

.app_main_cards_offer_body_item_2{
    float: left;
    border: 1px solid #9e9e9e;
    width: 270px;
    background-color: #9e9e9e;
    padding-top: 30px;
    padding-left: 15px;
}

.app_main_cards_offer_body_item_3{
  
    border: 1px solid #616161;
    width: 270px;
    background-color: #616161;
    padding-top: 30px;
    padding-left: 15px;
    color: white;
}

.app_main_cards_offer_body_item_4{
    float: left;
    border: 1px solid black;
    width: 270px;
    background-color: #000;
    padding-top: 30px;
    padding-left: 15px;
    color: white;
}
.app_main_cards_offer_body_item_1, .app_main_cards_offer_body_item_2, .app_main_cards_offer_body_item_3, .app_main_cards_offer_body_item_4{
    display: inline-block;
}

/* .app_main_cards_offer p{
    text-align: left;
} */


/* section ---- app_main_cards_offer ---- end*/


.app_main_pricing_plans{
    margin-top: 70px;
}

.app_main_pricing_plans_title, .app_main_pricing_plans_parag{
    text-align: center;
}


.app_main_pricing_plans_cards_item-1 tr,td{
    border: 1px solid rgb(215, 215, 215);
    text-align: center;
    padding: 20px;
}

.app_main_pricing_plans_cards_item-1 th{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    width: 47%;
    font-size: 24px;
}

.app_main_pricing_plans_cards_item-1 .row-6{
    font-size: 30px;
}

.app_main_pricing_plans_cards_item-1 button{
    background-color: rgb(36, 161, 36);
    border: 1px solid rgb(36, 161, 36) ;
    color: white;
    padding: 10px 30px;
}



.app_main_pricing_plans_cards_item-2 tr,td{
    border: 1px solid rgb(215, 215, 215);
    text-align: center;
    padding: 20px;
}

.app_main_pricing_plans_cards_item-2 th{
    background-color: rgb(133, 132, 132);
    color: white;
    text-align: center;
    padding: 30px;
    width: 47%;
    font-size: 24px;
}

.app_main_pricing_plans_cards_item-2 .row-6{
    font-size: 30px;
}

.app_main_pricing_plans_cards_item-2 button{
    background-color: rgb(36, 161, 36);
    border: 1px solid rgb(36, 161, 36) ;
    color: white;
    padding: 10px 30px;
}


.app_main_pricing_plans_cards_item-3 tr,td{
    border: 1px solid rgb(215, 215, 215);
    text-align: center;
    padding: 20px;
}

.app_main_pricing_plans_cards_item-3 th{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    width: 47%;
    font-size: 24px;
}

.app_main_pricing_plans_cards_item-3 .row-6{
    font-size: 30px;
}

.app_main_pricing_plans_cards_item-3 button{
    background-color: rgb(36, 161, 36);
    border: 1px solid rgb(36, 161, 36) ;
    color: white;
    padding: 10px 30px;
}

.app_main_pricing_plans_cards_item-1 button:hover{
    background-color: rgb(232, 234, 232);
    border: 1px solid rgb(232, 234, 232) ;
    color: black;
    padding: 10px 30px;
}

.app_main_pricing_plans_cards_item-2 button:hover{
    background-color: rgb(232, 234, 232);
    border: 1px solid rgb(232, 234, 232) ;
    color: black;
    padding: 10px 30px;
}

.app_main_pricing_plans_cards_item-3 button:hover{
    background-color: rgb(232, 234, 232);
    border: 1px solid rgb(232, 234, 232) ;
    color: black;
    padding: 10px 30px;
}


.app_main_pricing_plans_cards_item-1,.app_main_pricing_plans_cards_item-2,.app_main_pricing_plans_cards_item-3{
    display: inline-block;
    padding: 20px 7px;
}


.app_main_pricing_plans_cards_item-1 table:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.app_main_pricing_plans_cards_item-2 table:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.app_main_pricing_plans_cards_item-3 table:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* section ---- app_main_pricing_plans ---- end*/


/* section ---- app_main_people ---- start*/
.app_main_people_cards{
    margin-top: 50px;
}
.app_main_people_cards_item{
    display: inline-block;
    margin-right: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.app_main_people_cards_item_body_title{
 text-align: left;
}

.app_main_people_cards_item_body_job{
    text-align: left;
    color: #9e9e9e;
    
}
.app_main_people_cards_item_body_parag{
    text-align: left;
}

.app_main_people .app_main_people_cards .app_main_people_cards_item{
    /* border: solid; */
    width: 360px;
}

.app_main_people_cards_item > .app_main_people_cards_item_image img{
    width: 100%;
}


.app_main_people_title{
    margin-top: 40px;
    text-align: center;
    text-decoration: 6px  underline rgb(147, 146, 146) ;
}


/* .app_main_people_cards_item_body span{
    color: #9e9e9e;
} */

.app_main_people_cards_item >.app_main_people_cards_item_button {
 border: #f1f1f1;
  background-color: #f1f1f1;
  padding: 5px 10px;
  width: 90%;
  margin-bottom: 10px;
   
}
.app_main_people_cards_item >.app_main_people_cards_item_button input{
    border: #f1f1f1;
     background-color: rgb(245, 238, 238);
      
   }
    
/* section ---- app_main_people ---- end*/


/* section -----contact ----- start*/

.app_main_contact_title{
    margin-top: 50px;
    text-align: center;
    text-decoration: 6px underline #5b5a5a;
}

.app_main_contact_body_form_input{
width:70% !important;
border: 1px solid gainsboro;
height: 40px;
}

.app_main_contact_body_form_button{
    width:70% !important;
    height: 40px;
}

.app_main_contact form button{
    background-color: black;
    color: white;
}

.app_main_contact form label{
float: left;
padding-left: 15%;
}


.app_main_contact_body_form_input:hover{
    border: 2px solid black;
}

.app_main_contact_body_form_button:hover{
    border: 1px solid gray;
    background-color: gray;
    color: white;
}
/* section -----contact ----- end*/


/*footer start*/

.app_footer{
    /* border: solid; */
    padding-top: 50px ;
    padding-bottom: 50px ;
    margin-top: 60px;
    text-align: center;
    background-color: #f1f1f1;
}

.app_footer_button{
    margin-top: 20px;
    width: 120px;
    height: 35px;
    background-color: #000;
    color: white;
}

.app_footer_button:hover{
    border: 1px solid rgb(169, 169, 169);
    background-color: rgb(169, 169, 169);
    color: black;
}
.app_footer_images img{
  display: inline-block;
  width: 20px;
  margin-top: 40px;
}


.app_footer_copyright{
    margin-top: 30px;
}

.app_footer_copyright a{
    color: black;
}
.app_footer_copyright a:hover{
    color: green;
}
/*footer end*/